.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-sm);
  padding-bottom: var(--space-2xs);
}

@media (min-width: 28rem) {
  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
