.root {
  position: relative;
  height: 100%;
  isolation: isolate;
}

.appLayer {
  height: 100%;
}

.errorWrapper {
  display: grid;
  place-items: center;
  height: 100%;
  padding: var(--kiosk-gutter);
}
